# Chapter 12 - Advanced Pandas

## The pipe method

In [1]:
import pandas as pd

In [5]:
# Read from CSV file
df = pd.read_csv('dataset-A3-loans.csv')
df.index = df['id']
df = df[['funded_amount', 'term', 'interest_rate']]
df = df.iloc[:12]
df

          funded_amount        term  interest_rate
id
721751           7000.0   36 months          14.91
40277218        16800.0   60 months          16.49
68416017         1500.0   36 months           9.17
59481461         8000.0   36 months          12.29
73003            3200.0   36 months           9.96
55917749         5000.0   36 months          12.29
1149328         11500.0   36 months          16.29
1614457          6000.0   36 months          15.80
31999103        11000.0   36 months          14.49
290605          15000.0   36 months           9.45
49864582        10000.0   60 months          11.53
42221389         2875.0   36 months          12.69

In [11]:
df['term_in_months'] = df['term'].apply(lambda x : int(x.split()[0]))
df['first_payment'] = df['funded_amount']/df['term_in_months']
df

,funded_amount,term,interest_rate,term_in_months,first_payment
id,,,,,
721751,7000.0,36 months,14.91,36,194.444444
40277218,16800.0,60 months,16.49,60,280.000000
68416017,1500.0,36 months,9.17,36,41.666667
59481461,8000.0,36 months,12.29,36,222.222222
73003,3200.0,36 months,9.96,36,88.888889
55917749,5000.0,36 months,12.29,36,138.888889
1149328,11500.0,36 months,16.29,36,319.444444
1614457,6000.0,36 months,15.80,36,166.666667
31999103,11000.0,36 months,14.49,36,305.555556
290605,15000.0,36 months,9.45,36,416.666667
49864582,10000.0,60 months,11.53,60,166.666667
42221389,2875.0,36 months,12.69,36,79.861111

In [13]:
display(df.groupby('term')['first_payment'].mean())
display(df.groupby('term')['first_payment'].std())

term
 36 months    197.430556
 60 months    223.333333
Name: first_payment, dtype: float64

term
 36 months    119.956576
 60 months     80.138769
Name: first_payment, dtype: float64

**References:**

Python for Data Analysis, 2nd Edition, McKinney (2017)